h1 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 15px;
    /* Change the size of your font to 60 pixels high. */
    font-size: 32px;
    font-weight: bold;

    color:#20B2AA;
    
    text-align: left;
 
    
  }

